<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WAITT dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/primer/2.4.0/primer.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/octicons/3.1.0/octicons.css" type="text/css"/>
    <link rel="stylesheet" href="../public/css/dashboard.css" th:href="${context} + '/css/dashboard.css'" type="text/css"/>
</head>
<body>
<script>
      var storageKey = "store";
      var flags = localStorage.getItem(storageKey);
      var app = Elm.Main.init({flags: flags});
      app.ports.storeCache.subscribe(function(val) {
        if (val === null) {
          localStorage.removeItem(storageKey);
        } else {
          localStorage.setItem(storageKey, JSON.stringify(val));
        }
        // Report that the new session was stored successfully.
        setTimeout(function() { app.ports.onStoreChange.send(val); }, 0);
      });
      // Whenever localStorage changes in another tab, report it if necessary.
      window.addEventListener("storage", function(event) {
        if (event.storageArea === localStorage && event.key === storageKey) {
          app.ports.onStoreChange.send(event.newValue);
        }
      }, false);
    </script>
<header class="masthead">
    <div class="container">
        <a class="masthead-logo">WAITT dashboard</a>
    </div>
</header>
<div class="container">
    <div class="columns">
        <div class="one-fourth column">
            <nav class="menu">
                <a class="menu-item selected">Application</a>
                <a class="menu-item" href="server.html" th:href="${context} + '/server'">Server</a>
                <a class="menu-item" href="env.html" th:href="${context} + '/env'">Environments</a>
                <a class="menu-item" href="property.html" th:href="${context} + '/property'">Properties</a>
                <a class="menu-item" href="heap.html" th:href="${context} + '/heap'">Heap dump</a>
            </nav>
        </div>
        <div class="three-fourths column">
            <h1><i class="mega-octicon octicon-dashboard"></i>Application</h1>
            <div th:if="${adminAvailable}">
                <table class="ui celled table">
                    <tbody>
                    <tr>
                        <th>Application name</th>
                        <td th:text="${webappConfiguration.applicationName}">sample application</td>
                    </tr>
                    <tr>
                        <th>Package</th>
                        <td th:text="${webappConfiguration.packages}">net.unit8.waitt</td>
                    </tr>
                    <tr>
                        <th>Base directory</th>
                        <td th:text="${webappConfiguration.baseDirectory}">/home/kawasima/waitt</td>
                    </tr>
                    <tr>
                        <th>Source directory</th>
                        <td th:text="${webappConfiguration.sourceDirectory}">/home/kawasima/waitt/src/main/java</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:unless="${adminAvailable}">
                <div class="blankslate">
                    <h3>Application view is unavailable</h3>
                    <p>Add waitt-admin feature</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
