<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>WAITT dashboard</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.1.4/semantic.min.css" type="text/css"/>
    </head>
    <body>
        <div class="ui header">
            <h1>WAITT dashboard</h1>
        </div>
        <div class="ui secondary pointing menu">
            <a class="item" th:classappend="${menu=='overview'}?'active'" href="#" th:href="${'/'}">Overview</a>
            <a class="item" th:classappend="${menu=='env'}?'active'" href="#" th:href="${'env'}">Environments</a>
            <a class="item" th:classappend="${menu=='heap'}?'active'" href="#" th:href="${'heap'}">Heap dump</a>
            
        </div>
        <div class="ui segment" th:include="content::${menu}">
            <table class="ui striped table">
                <tbody>
                    <tr>
                        <td>aaa</td>
                        <td>bbb</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
