java.io.IOException
java.lang.ArithmeticException
java.lang.Class
java.lang.Cloneable
java.lang.Comparable
java.lang.Boolean
java.lang.Byte
java.lang.Double
java.lang.Float
java.lang.Iterable
java.lang.Integer
java.lang.IllegalArgumentException
java.lang.IllegalStateException
java.lang.Long
java.lang.Math
java.lang.Number
java.lang.Object
java.lang.RuntimeException
java.lang.Short
java.lang.String
java.lang.StringBuffer
java.lang.StringBuilder
java.lang.Throwable
java.lang.ThreadLocal
java.lang.Enum
java.math.BigDecimal
java.math.BigInteger
java.math.MathContext
java.math.RoundingMode
java.sql.Blob
java.sql.Clob
java.sql.Date
java.sql.Time
java.sql.Timestamp
java.util.Collection
java.util.Comparator
java.util.Date
java.util.Enumeration
java.util.Iterator
java.util.List
java.util.Map
java.util.Map.Entry
java.util.Set
java.util.SortedMap
java.util.SortedSet
java.util.stream.Stream
java.util.stream.Collectors
java.util.ArrayList
java.util.Arrays
java.util.Collections
java.util.HashMap
java.util.HashSet
java.util.TreeMap
java.util.TreeSet
java.util.function.Consumer
java.util.regex.Pattern
java.util.regex.Matcher
java.util.NoSuchElementException
java.security.NoSuchAlgorithmException
java.security.spec.InvalidKeySpecException
java.security.Key
java.nio.file.Path
java.nio.charset.Charset
java.nio.file.Files
javax.crypto.SecretKey
javax.crypto.SecretKeyFactory
javax.crypto.spec.PBEKeySpec
javax.persistence.OptimisticLockException
